certifi==2018.4.16
chardet==3.0.4
Click==7.0
Flask==1.0.2
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
markovify==0.7.1
MarkupSafe==1.0
nltk==3.3
PyJWT==1.6.4
PySocks==1.6.8
pytz==2018.7
requests==2.19.1
six==1.11.0
slackclient==1.2.1
twilio==6.19.2
Unidecode==1.0.22
urllib3==1.23
websocket-client==0.48.0
Werkzeug==0.14.1
